.books-list-section {
  width: 700px;
  min-height: 400px;
  padding: 40px;
  color: #000;
  background-color: #FFF;
  border-radius: 30px;
}

.books-list_title {
  text-align: center;
  margin-bottom: 30px;
}

.books-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.books-list_item {
  position: relative;
  background-color: #2815d70f;
  padding: 20px;
  border-radius: 10px;
}

.icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 18px;
  color: brown;
}

.icon-fav {
  position: absolute;
  right: -30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #2815d729;
}

.icon-fav--active {
  color: darkgoldenrod;
}