.filters {
  width: 700px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: #000;
  background-color: #FFF;
  border-radius: 30px;
}

.filters input {
  background-color: #2815d736;
  padding: 20px 30px;
  border-radius: 20px;
  width: 200px;
  color: #000;
  font-size: 18px;
}

.filters input::placeholder {
  color: #FFF;
  font-size: 18px;
}

.filters button {
  padding: 20px 30px;
  border-radius: 20px;
  color: #FFF;
  background-color: rgb(4, 11, 102);
  font-size: 18px;
}

.filters button:hover {
  cursor: pointer;
}